<form action='/submitStudent' method='POST'>
 <table>
  <tr>
   <td>
    <label>Name</label>
   </td>
   <td>
    <input name="txtname" >
   </td>
  </tr>
  <tr>
   <td>
    <label>Address</label>
   </td>
   <td>
    <input name="txtaddr" >
   </td>
  </tr>
  <tr>
   <td>
    <label>City</label>
   </td>
   <td>
    <input name="txtcity" >
   </td>
  </tr>
  <tr>
   <td>
    <label>Pin</label>
   </td>
   <td>
    <input name="txtpin" >
   </td>
  </tr>
 </table>
 <br>
 <input type="submit" value="Add"/>
</form>  